<div id="page-content-wrapper">
 <div id="page-content">
  <div class="container">
   <div id="page-title">
	<h2>Edit case
		<a href="#/auditCaselog" style="float:right;"><i class="glyph-icon tooltip-button icon-times-circle" title="" data-original-title=".icon-times-circle"></i></a>
	</h2>
   </div>
   <div class="panel">
	<div class="panel-body">
            
	 <div class="example-box-wrapper">
              <form role="form"  id="case-validation">
	 	<div class="form-group">
                    <div class="input-group input-group-lg">
                     <input type="hidden" class="form-control" id="contactReason" name="contactReason" placeholder="Enter contact reason" ng-model="caseLogData.issue_id" required>
                    </div>
                </div>	
		   <div class="form-group">
		   <label for="contactReason">Case Id :</label>
			<div class="input-group input-group-lg">
			 <input type="text" class="form-control" id="contactReason" name="contactReason" placeholder="Enter case id" ng-model="caseLogData.caseId" >
			</div>
		   </div>
		   <div class="form-group">
		   <label for="contactReason">Contact Reason *:</label>
			<div class="input-group input-group-lg">
			 <input type="text" class="form-control" id="contactReason" name="contactReason" placeholder="Enter contact reason" ng-model="caseLogData.contactReason" required>
			</div>
		   </div>
		  <div class="form-group">
			<label for="issue">Please describe your issue *:</label>
			<div class="input-group input-group-lg">
			 <textarea class="form-control" id="issue" style="min-height: 350px;" name="issue"  ng-model="caseLogData.issue" required rows="10" ></textarea>
			</div>
		   </div>
		  <div class="form-group">
			<label for="msku">SKU*:</label>
			<div class="input-group input-group-lg">
			 <input type="text" class="form-control" id="msku" name="msku" placeholder="Enter SKU" ng-model="caseLogData.msku" required>
			</div>
		   </div>
		  
                  <div class="form-group col-md-12 hide" id='timeDiv' >
                <label for="dtp_input1" class="col-md-2 control-label">Date Time</label>
                <div class="input-group date form_datetime"  data-date-format="dd MM yyyy - HH:ii" data-link-field="dtp_input1" date-time-picker  style="width:350px;">
                    <input class="form-control" size="16" type="text" value="" readonly="" ng-model="caseLogData.scheduleTime" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                        <a href="javascript:void(0)" ng-click="hidetime()" style="float:right; margin-bottom: 5px; font-size: 20px;"><i class="glyph-icon tooltip-button icon-times-circle" title="" data-original-title=".icon-times-circle"></i></a>
                </div>
                    <input type="hidden" id="dtp_input1" value="" /><br/>
                    
            </div>
              <div class="form-group" id="issusediv">
                  <button type="submit" class="btn btn-primary" id="editbtn" ng-click="auditEditCase('case-validation')">Save as Draft</button>
                  <button type="button" class="btn btn-primary hide" id="sedulSubmitbtn" ng-click="auditDraftscheduleIssue('case-validation')">Set Scheduled</button>
                  <button type="submit" class="btn btn-primary" id="draftbtn" ng-click="auditDraftCaseSubmit('case-validation')">Submit Case</button>
                  <button type="button" class="btn btn-primary" id="setTimebtn" ng-click="setTime()">Set Time</button>
                 <a href="#/auditCaselog" class="btn btn-default">Cancle</a>
               </div>
          </form>
	 </div>

	</div>
   </div>
  </div>
 </div>
</div>
