<div id="page-content-wrapper">
 <div id="page-content">
  <div class="container">
   
   <div class="panel">
	<div class="panel-body">
	 <div class="example-box-wrapper">
		   <div class="form-group">
		   <label for="contactReason">Contact Reason *:</label>
			<div class="input-group input-group-lg">
			 <input type="text" class="form-control" id="contactReason" name="contactReason" placeholder="Enter contact reason" ng-model="case.contactReason" required>
			</div>
		   </div>
		   <div class="form-group">
			<label for="issue">Please describe your issue *:</label>
			<pre  ng-bind-html="desvc" id="des"></pre>
		   </div>
		  <div class="form-group">
			<label for="msku">MSKU *:</label>
			<div class="input-group input-group-lg">
			 <input type="text" class="form-control" id="msku" name="msku" placeholder="Enter msku" ng-model="case.msku" required>
			</div>
		   </div>
		  <div class="form-group">
			<label for="mail_id">Your Email*:</label>
			<div class="input-group input-group-lg">
			 <input type="text" class="form-control" id="mail_id" name="mail_id" placeholder="Enter Mail id" ng-model="case.mail_id" required>
			</div>
		   </div>
		   
	 </div>

	</div>
   </div>
  </div>
 </div>
</div>
