<!-- <div id="page-header" class="bg-gradient-9" ng-controller="headerCtrl">
      <div id="mobile-navigation">
        <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
        <!-- <a href="index.html" class="logo-content-small" title="MonarchUI"></a> 
      </div>
      <div id="header-logo" >
        <a href="javascript:void(0)" class="logo-content-big" title="{{userdata.firstName }} {{userdata.lastName}}">
            {{userdata.firstName | capitalize}} {{userdata.lastName}}
        </a>
      </div>
   
      <div id="header-nav-right">
        <a class="header-btn" id="logout-btn" href="javascript:void(0)" title="Lockscreen page example"  ng-click="logout()">
            <i class="glyph-icon icon-linecons-lock"></i>
        </a>

      </div><!-- #header-nav-right 
    </div> -->


<div id="page-wrapper"><div class="top-bar bg-topbar">
    <div class="container">
        <div class="float-left">
            <a href="#" class="btn btn-sm bg-facebook tooltip-button" data-placement="bottom" title="Follow us on Facebook">
                <i class="glyph-icon icon-facebook"></i>
            </a>
            <a href="#" class="btn btn-sm bg-google tooltip-button" data-placement="bottom" title="Follow us on Google+">
                <i class="glyph-icon icon-google-plus"></i>
            </a>
            <a href="#" class="btn btn-sm bg-twitter tooltip-button" data-placement="bottom" title="Follow us on Twitter">
                <i class="glyph-icon icon-twitter"></i>
            </a>

            <a href="#" class="btn btn-top btn-sm" title="Give us a call">
                <i class="glyph-icon icon-phone"></i>
                +1-541-754-3010
            </a>
        </div>
        
    </div><!-- .container -->
</div><!-- .top-bar -->

<div class="main-header bg-header wow fadeInDown">
    <div class="container">
    <a href="#/" class="header-logo" title="Home">Home</a><!-- .header-logo -->
    <div class="right-header-btn">
        <div id="mobile-navigation">
            <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target=".header-nav"><span></span></button>
        </div>
    </div><!-- .header-logo -->
    <ul class="header-nav collapse">
        <li>
            <a href="#/login" title="Login">
                Login
            </a>
        </li>
<!--        <li>
            <a href="#/register" title="Register">
                Register
            </a>
        </li>-->
    </ul><!-- .header-nav -->
</div><!-- .container -->
</div><!-- .main-header -->