<style type="text/css">
 .tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
 .tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; }
 .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white; }
 .tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0; }
 </style>
 <div id="sb-site">
 <div id="page-wrapper">
  <div id="page-content-wrapper">
   <div id="page-content">
	<div class="container">
	 <div id="page-title">
	  <h2>Inventory  Detail </h2>
	 </div>
	 <div class="row">
          <div class="col-md-12">
	   <div class="panel">
		<div class="panel-body">
		 <div class="example-box-wrapper">
		  <div class="tabsdemoDynamicHeight">
		   <md-content>
			<md-tabs md-dynamic-height="" md-border-bottom="">
			 <md-tab label="Destroyed by Amazon">
			  <md-content class="md-padding">
                              <div class="row">
                                  <div class="col-md-3"></div>
                                  <div class="col-md-6">
                                      <h3> <b>{{totalAmount}} </b></h3>
                                  </div>
                                  
                                    <div class="col-md-3">
                                    <button type="button" class="btn btn-primary" id="addPayment" ng-click="openinventoryIssue()" style="float:right; margin-bottom: 5px;">Submit Case</button>
                                    </div>
                              </div>
                           <table datatable="ng" class="table table-bordered table-striped table-condensed">
				<thead>
				 <tr>
                                    <th>#</th>
                                    <th>DATE</th>
                                    <th>REASON</th>
                                    <th>TRANSACTION ID</th> 
                                    <th>MERCHANT SKU</th>
                                    <th>QUANTITY</th>
                                    <th>Action</th>
                                    
				 </tr>
				</thead>
				<tbody>
				 <tr dt-rows ng-repeat="person in inventoryDetailData">
                                     <td><input  type="checkbox" name="inventory_id" id="{{person.inventory_id}}" data-msku="{{person.msku}}" data-total="{{person.total}}" data-transactionId="{{person.transactionId}}" data-orderDate="{{person.orderDate}}" data-reason="{{person.reason}}" ng-click="totalamount()" /></td>   
				  <td>{{person.date}}</td> 
				  <td ng-if="person.reason == '6'">Damaged by inbound carrie</td>
				  <td ng-if="person.reason == 'D'">Destroyed</td>
				  <td ng-if="person.reason == 'E'">Damaged At Amazon fulfillment center </td>
				  <td ng-if="person.reason == 'Q'">Damaged - miscellameous </td>
				  <td ng-if="person.reason == 'N'">Transfer from holding account </td>
				  <td ng-if="person.reason == 'O'">Transfer to holding account </td>
				  <td ng-if="person.reason == 'M'">Inventory misplaced </td>
				  <td ng-if="person.reason == 'F'">Inventory found </td>
				  <td>{{ person.transactionId }}</td>
				  <td>{{ person.msku}}</td>
				  <td>{{ person.quantity}}</td>
                                  <td>
                                        <a href="#/skuhistory/{{ person.msku}}" title="History"><i class="glyph-icon tooltip-button icon-history" title="History" data-original-title=".icon-history"></i></a>&nbsp; &nbsp;


                                        <a href="javascript:void(0)" title="ADD REIMBURSEMENT ID" >
                                            <i class="glyph-icon tooltip-button icon-pencil" title="ADD REIMBURSEMENT ID" data-original-title=".icon-pencil"  ng-controller="modalController" ng-click="open('editRembId.html', 'editRembIdCtrl',person.reason,person.inventory_id)"></i>
                                        </a>

                                  </td>				  
				 </tr>
				</tbody>
			   </table>
			  </md-content>
			 </md-tab>
			 <md-tab label="Submited">
			  <md-content class="md-padding">
                            <div class="row">
                              <div class="col-md-3">
                                  <input class="form-control input-sm" type="search" placeholder="Search Order"  ng-model="searchsubmited" ng-change="globalFilter1()">
                              </div>
                            </div>
                               <table class="table table-bordered table-striped table-condensed" example-datatable1  data-url="user/submitedInventory?user_id={{userdata.user_id}}" data-method="GET" >
                                <thead>
                                 <tr>
                                  <th>#</th>
                                  <th>DATE</th>
                                  <th>CASE ID</th>
                                  <th>ORDER ID</th> 
                                  <th>ACTION</th>
                                 </tr>
                                </thead>
                           </table>
			  </md-content>
			 </md-tab>
			 <md-tab label="Resolved">
			  <md-content class="md-padding">
                            <div class="row">
                              <div class="col-md-3">
                                  <input class="form-control input-sm" type="search" placeholder="Search Order"  ng-model="searchresolved" ng-change="globalFilter2()">
                              </div>
                            </div>
			   <table class="table table-bordered table-striped table-condensed" example-datatable2  data-url="user/resolvedInventory?user_id={{userdata.user_id}}" data-method="GET" >
                                <thead>
                                 <tr>
                                  <th>#</th>
                                  <th>DATE</th>
                                  <th>CASE ID</th>
                                  <th>ORDER ID</th> 
                                  <th>ACTION</th>
                                 </tr>
                                </thead>
                           </table>
			  </md-content>
			 </md-tab>
                          <md-tab label="Auto matched">
			  <md-content class="md-padding">
                              <button type="button" class="btn btn-primary" id="addPayment" ng-click="openinventoryIssue()" style="float:right; margin-bottom: 5px;">Submit Case</button>
                           <table datatable="ng" class="table table-bordered table-striped table-condensed">
				<thead>
				 <tr>
                                    <th>#</th>
                                    <th>DATE</th>
                                    <th>REASON</th>
                                    <th>TRANSACTION ID</th> 
                                    <th>MERCHANT SKU</th>
                                    <th>QUANTITY</th>
                                    <th>Reimbursement ID</th>
                                    
				 </tr>
				</thead>
				<tbody>
				 <tr dt-rows ng-repeat="p in automatchdata">
                                     <td><input  type="checkbox" name="inventory_id" id="{{p.inventory_id}}" data-msku="{{p.msku}}" data-total="{{p.total}}" data-transactionId="{{p.transactionId}}" data-orderDate="{{p.orderDate}}" data-reason="{{p.reason}}"  /></td>   
				  <td>{{p.date}}</td> 
				  <td ng-if="p.reason == '6'">Damaged by inbound carrie</td>
				  <td ng-if="p.reason == 'D'">Destroyed</td>
				  <td ng-if="p.reason == 'E'">Damaged At Amazon fulfillment center </td>
				  <td ng-if="p.reason == 'Q'">Damaged - miscellameous </td>
				  <td ng-if="p.reason == 'N'">Transfer from holding account </td>
				  <td ng-if="p.reason == 'O'">Transfer to holding account </td>
				  <td ng-if="p.reason == 'M'">Inventory misplaced </td>
				  <td ng-if="p.reason == 'F'">Inventory found </td>
				  <td>{{ p.transactionId }}</td>
				  <td>{{ p.msku}}</td>
				  <td>{{ p.quantity}}</td>
				  <td>{{ p.rembId}}</td>
				  
				 </tr>
				</tbody>
			   </table>
			  </md-content>
			 </md-tab>
			</md-tabs>
		   </md-content>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</div>


