<div id="page-content-wrapper">
 <div id="page-content">
  <div class="container">
   <div id="page-title">
	<h2>User List </h2>
   </div>
   <div class="panel">
	<div class="panel-body">
	 <div class="example-box-wrapper">
		  <form role="form"  id="user-validation" class="col-md-7" >
		  <div id="login-form">
		  <div class="form-group">
                <label class="col-sm-3 control-label">User</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="user.user_id"  name="user_id" id="user_id" required >
                        <option value="">Select User</option>
                        <option value="{{u.user_id}}" ng-repeat="u in userList">{{u.firstName}}</option>
                        
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-3">
                     <button type="submit" class="btn btn-block btn-blue-alt" ng-click="changeUser('user-validation')">Submit</button>
                </div>
            </div>
		  </form> 
		</div>
	 </div>

	</div>
   </div>
  </div>
 </div>
</div>
