 <div id="page-content-wrapper">
    <div id="page-content">
        <div class="container">
        <div id="page-title">
            <h2>Users</h2>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="col-md-3">
                 <input class="form-control input-sm" type="search" placeholder="Search Order"  ng-model="search_user" ng-change="globalFilter()">
                </div>
                
                <div class="example-box-wrapper">
                    <div class="hide-columns">
                        <table class="table table-bordered table-striped table-condensed" example-datatable  data-url="user/user?user_id={{userdata.user_id}}" data-method="GET"  width="100%">
                            <thead>
                           <tr>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Email</th>
                          </tr>
                            </thead>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>